@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.blog-content p {
  @apply my-4;
}
.blog-content h1 {
  @apply lg:text-2xl md:text-xl text-lg font-semibold;
}
.blog-content h2 {
  @apply lg:text-xl md:text-lg text-base font-semibold;
}
.blog-content h3 {
  @apply lg:text-lg md:text-base text-sm font-semibold;
}

.blog-content ol {
  @apply list-decimal;
}
.blog-content ul {
  @layer list-disk;
}
